<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel = "tests" name="Suite">
<listeners>
<listener class-name="mavenPractice.TestComponent.Listeners"/>
</listeners>
  <test thread-count="5" name="Submit order test">
    <classes>
      <class name="mavenPractice.ecommerceUITest"/>   
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Error Validation Test">
  <classes>
     <class name="mavenPractice.errorValidationTest"/>
  </classes>
  </test>
</suite> <!-- Suite -->



 
    